/* sidenav */
.side-icon {
    min-width: 25px;
}

.rent-info {
    min-height: 150px;
}

/* Order */
.cust-img {
    width: 180px;
}

.cust-idcard {
    width: 270px;
    height: 180px;
}

.costume-img {
    width: 180px;
}

/* Costumes */
.list-costume-img {
    width: 70px;
}

.desc-column {
    width: 20%;
}

.action-column {
    width: 10%;
}

/* Costume */

.cost-slide-img {
    width: 100%;
}
