@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap");

:root {
    --yellow: #ffe563;
    --black: #292929ff;
    --pink: #d34a76ff;
    --grey: #dde1e4ff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.text-poppins {
    font-family: "Poppins", sans-serif;
}

.text-biryani {
    font-family: "Biryani", sans-serif;
}

.text-roboto {
    font-family: "Roboto", sans-serif;
}

.text-yellow {
    color: var(--yellow);
}

.text-black {
    color: var(--black);
}

.text-pink {
    color: var(--pink);
}

.text-grey {
    color: var(--grey);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-black {
    background-color: var(--black);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-grey {
    background-color: var(--grey);
}
.bg-transparent {
    background-color: rgba(0, 0, 0, 0);
}

/* Navbar */
.brand-logo {
    width: 45px;
}

.navbar-menu {
    visibility: hidden;
}

.side-nav {
    position: fixed;
    left: -100vw;
    right: 100vw;
    top: 60px;
    height: 100vh;
    z-index: 99;
    transition: 1s;
}

.on {
    /* position: sticky; */
    left: 0;
    right: 0;
}

.side-nav-link:hover {
    color: var(--yellow);
}

.cart-count {
    font-size: 0.6em;
}

/* HOME */
.new-arrival-img {
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background-color: transparent;
}

.featured-img {
    width: 100%;
}

.payment-img {
    height: 150px;
    width: 300px;
    object-fit: cover;
}

/* Category */

.costumes-nav {
    z-index: -999;
}

.category-item {
    background-color: rgba(0, 0, 0, 0);
}

.category-list {
    color: #6c757d;
}

.category-list:hover,
.category-active {
    color: var(--black);
}

.search-box {
    width: 700px;
}

input:focus {
    outline: none;
}

/* Costumes */
.costume-card {
    overflow: hidden;
}

.costume-img {
    width: 100%;
    object-fit: cover;
}

.costume-title {
    line-height: 1;
    font-weight: 400;
}

.costume-size {
    font-weight: 300;
    letter-spacing: 1px;
}

.costume-desc {
    font-weight: 300;
}

.btn-cart {
    width: 100%;
}

/* Costume */
/* .costume-img-box {
    overflow: hidden;
} */

.thumbnail {
    width: 100%;
}

.img-list-box {
    box-sizing: border-box;
}

.img-list {
    cursor: pointer;
}

.selected,
.costume-img-list:hover {
    opacity: 0.7;
    border: solid 2px var(--pink);
}

.costume-img-list {
    width: 100%;
}

.rent-btn:hover {
    color: var(--black);
    background-color: var(--grey);
    border-color: var(--black);
}

/* cart */
.item-img {
    width: 10em;
}

.payments {
    min-height: 600px;
}

.rent-msg {
    font-size: 0.8em;
}

.bank-img {
    height: 50px;
    width: 80px;
}

.a-n {
    font-size: 0.7em;
}

/* notif */
.cart-success {
    z-index: 99999;
    top: -60px;
    transition: 0.8s ease;
}

.muncul {
    top: 10%;
}

/* Invoice */

.invoice-box {
    width: 700px;
}

.invoice-logo {
    width: 150px;
}

.bank-invoice {
    width: 150px;
}
/* Responsive */

@media screen and (min-width: 1200px) {
    .payment-img {
        width: 250px;
        height: 125px;
    }

    .navbar-menu {
        visibility: visible;
    }

    .nav-button {
        display: none;
    }

    .side-nav {
        /* position: absolute; */
        left: -100vw;
    }
}

/* Orders */
.card-item {
    height: 215px;
}

.total-box {
    height: 100%;
}

.cont {
    min-height: 80vh;
}

.total-belanja {
    font-size: 1.3rem;
}

.cost-name {
    font-size: 1.5rem;
}

@media screen and (max-width: 1400px) {
    .payment-img {
        width: 250px;
        height: 125px;
    }
}

@media screen and (max-width: 992px) {
    .nav-container {
        padding: 0 20px;
    }

    .costume-detail-box {
        min-height: 300px;
    }
    .total-belanja {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 450px) {
    .search-box {
        width: 22rem;
    }

    .name {
        display: none;
    }

    .item-img {
        width: 7em;
    }

    .invoice-box {
        width: calc(100% - 10px);
    }
    .total-belanja {
        font-size: 0.9rem;
    }
    .cost-name {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 320px) {
    .search-box {
        width: 18rem;
    }

    .category-list {
        font-size: 0.8rem;
    }
}
